.navbar {
/* 	max-height: 65px; */
}

.navbar-outer {
	min-width: 1300px;
}

#gigs, a:hover {
	color: #ffffdf;
}

#gigs, a {
	color: #fff;
}

.well {
	background-color: rgba(119,136,153, 0.4);
}

#comment {
	background: #eaeaf0;
}

a {
	color: #AFEEEE;
}

.search {
	margin: 8px;
}

.query {
	margin-top: 10px;
}

.dropdown {
	width: 80px;
	max-height: 100%;
}

#logo {
	margin-top: 0px;
}

.view {
	margin-top: 20px;
}

.profile {
/* 	clear: left; */
/*     position: fixed; */
    margin-top: 20px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.panel-default .panel-heading,
.panel-footer {
	background-color: rgba(217,222,226, .7);
}

.acc a {
	color: #2F4F4F;
}

.deal {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    margin: 20px;
    width: 450px;
}

.popupBack {
	min-height: 500px;
}

.deal a {
	color: #2F4F4F;
}

.scroll {
	position: fixed;
	clear: right;
	left: 43%;
	margin-left: 0px; 
}

.cancel {
	margin-left: 5px;
}

.addDeal {
	z-index: 1000;
	position: fixed;
	z-index: 100;
	width: 1000px;
	max-height: 500px;
	left: 50%;
	margin-left: -500px; 
}

.ontop {
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;				
	background-color: rgba(119,136,153, 0.9);
}

.desc {
  background-color: #fffff;    
  padding: 5px;
  margin: 5px;
}

.adr {
  color : #2ba6cb;
  background-color: #fffff;    
  padding: 25px;
}

.map {
	margin-top: 20px;
}

#map {
    width: 700px;
    height: 525px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

#pickmap{
    width: 320px;
    height: 240px;
}

.navbar-default, .navbar-fixed-bottom {
  background-color: rgba(119,136,153, 0.4);
  border-color: #95b6db;
}

.navbar-default .navbar-brand {
  color: #DCDCDC;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffdf;
}
.navbar-default .navbar-text {
  color: #305187;
}
.navbar-default .navbar-nav > li > a, .me, .me a:hover, .me a:focus{
  color: #F0F8FF;
  text-shadow: 2px 2px 5px #595959;
}

.me a {
  color: #B0E0E6;
  text-shadow: 2px 2px 5px #595959;
}

.me {
	max-height: 10px;
}

.me p {
	margin-top: -10px;
}

.home {
	background-image: url("/app/static/app/img/11.jpg"); 
  	background-repeat:no-repeat;
  	background-size:cover;
  	background-attachment: fixed;
  	height: 100%;
  	padding-bottom: 500px;
}

.jumbo {
	position: inherited;
	color: #fff;
}

.navbar-default .navbar-nav > li > #accounts:hover, 
.navbar-default .navbar-nav > li > #accounts:focus,
.navbar-default .navbar-nav > li > #management:hover, 
.navbar-default .navbar-nav > li > #management:focus, 
.navbar-default .navbar-nav > li > #user:hover, 
.navbar-default .navbar-nav > li > #user:focus {
   color: #ffffdf;
}

.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar-default .navbar-nav > li > #accounts {
   color: #FFA07A;
}

.navbar-default .navbar-nav > li > #management {
   color: #FF6347;
}

.navbar-default .navbar-nav > li > #user {
	color: #ffff80;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffdf;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffdf;
  background-color: rgba(119,136,153, 0.4);
  height : 65px;	
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffdf;
  background-color: #95b6db;
}
.navbar-default .navbar-toggle {
  border-color: #95b6db;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #95b6db;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #305187;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #305187;
}
.navbar-default .navbar-link {
  color: #305187;
}
.navbar-default .navbar-link:hover {
  color: #ffffdf;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #305187;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffdf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffdf;
    background-color: #95b6db;
  }
}
