body {
  padding-top: 20px;
  padding-bottom: 70px; 
  background-color: #f2f2f2;
/*   background-image: url("/static/assets/background_yellow.jpg"); */
/*   background-repeat:no-repeat; */
/*   background-size:cover; */
/*   background-attachment: fixed; */
}

.navbar {
	max-height: 65px;
}

.search {
	width : 500px;
	margin: 8px;
}

.query {
	margin-top: 10px;
}

.dropdown {
	width: 80px;
	max-height: 100%;
}

#logo {
	margin-top: 0px;
}

.view {
	margin-top: 20px;
}

.profile {
	clear: left;
    position: fixed;
    width: 40%;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.deal {
    clear: right;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.deals {
    clear: right;
}

.desc {
  color : #2ba6cb;
  background-color: #fffff;    
  padding: 10px;
}

.adr {
  color : #2ba6cb;
  background-color: #fffff;    
  padding: 25px;
}

.map {
	position: fixed;
	clear: left;
}



#map{
    width: 780px;
    height: 480px;
    box-shadow: 3px 3px 10px gray;
    }
    
#pickmap{
    width: 410px;
    height: 320px;
    }
#repeat{ 
     display: inline;
     }
#country_container { 
     width: 1000px; 
     margin: 13px 3px 3px 0px; 
     text-align: center; 
     width: 85px; 
     padding: 4px; 
     display: inline-table;  
     color: white; 
     background-color: black; 
     font-size: 12px; 
     cursor: pointer;
     border: 1px solid black; 
     border-radius:13px; 
     }
#country_container:hover { 
     box-shadow: 0px 0px 10px black;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
     }
#names { 
     cursor: pointer; 
       }



.navbar-default, .navbar-fixed-bottom {
  background-color: #4682B4;
  border-color: #95b6db;
}

.navbar-default .navbar-brand {
  color: #DCDCDC;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffdf;
}
.navbar-default .navbar-text {
  color: #305187;
}
.navbar-default .navbar-nav > li > a {
  color: #F0F8FF;
 text-shadow: 2px 2px 5px #595959;
}

.navbar-default .navbar-nav > li > #accounts:hover, 
.navbar-default .navbar-nav > li > #accounts:focus,
.navbar-default .navbar-nav > li > #management:hover, 
.navbar-default .navbar-nav > li > #management:focus, 
.navbar-default .navbar-nav > li > #user:hover, 
.navbar-default .navbar-nav > li > #user:focus {
   color: #ffffdf;
}

.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar-default .navbar-nav > li > #accounts {
   color: #FFA07A;
}

.navbar-default .navbar-nav > li > #management {
   color: #FF6347;
}

.navbar-default .navbar-nav > li > #user {
	color: #ffff80;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffdf;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffdf;
  background-color: #95b6db;
  height : 65px;	
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffdf;
  background-color: #95b6db;
}
.navbar-default .navbar-toggle {
  border-color: #95b6db;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #95b6db;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #305187;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #305187;
}
.navbar-default .navbar-link {
  color: #305187;
}
.navbar-default .navbar-link:hover {
  color: #ffffdf;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #305187;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffdf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffdf;
    background-color: #95b6db;
  }
}
