<div class="jumbo text-center">
	<h1 class="page-header">Home</h1>
	<div class="well container">
		<div class="col-md-4">
			<h2>Deals</h2>
			<p>Do stuff with deals.</p>
			<p>
				<a class="btn btn-default" href="./#/deals" role="button">Go to
					Deals &raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>About</h2>
			<p>Learn how the app works.</p>
			<p>
				<a class="btn btn-default" href="./#/about" role="button">Go to
					About &raquo;</a>
			</p>
		</div>
		<div ng-show="isAdmin()" class="col-md-4">
			<h2>Accounts</h2>
			<p>Do stuff to accounts.</p>
			<p>
				<a class="btn btn-default" href="./#/accounts" role="button">Go
					to Accounts &raquo;</a>
			</p>
		</div>
		<div ng-show="isSysAdmin()" class="col-md-4">
			<h2>Management</h2>
			<p>See the inner workings of the app.</p>
			<p>
				<a class="btn btn-default" href="./#/management" role="button">Go
					to Management &raquo;</a>
			</p>
		</div>
	</div>
</div>
