<div ng-show="show" class="ontop col-md-12"></div>
<div class="row acc">
        <div class=" col-md-7">
          <div class="panel panel-default profile">
            <div class="panel-heading">
              <h3 class="panel-title">{{profile.firstname}} {{profile.lastname}}</h3>
            </div>
            <div class="panel-body">
              <div class="">
                <div class="col-md-5 col-md-offset-1 " align="center">
                	<img alt="User Pic" src="{{profile.pictureLink}}"
                class="img-rounded img-responsive">
                </div>
                <div ng-show="edit" class="col-md-6">
                	<textarea ng-model="profile.about" class="form-control" rows="7" id="comment"></textarea>	
                </div>
                
                <div ng-hide="edit" class="col-md-6" >
               		 {{profile.about}}</br></br></br>
                </div>
                <div  class="row" align="center" ng-show="edit">
		  			<input type="file" id="file" name="file" file-model="myFile"/>
		 			 <button ng-click="uploadFile()">Upload</button>
	  			</div>
                <div class="row"> 
                  <div class=" col-md-10 col-md-offset-1">
                  	<table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Phone number:</td>
                        <td ng-hide="edit">{{profile.phoneNumber}}</td>
                        <td ng-show="edit"><input ng-model="profile.phoneNumber" /></td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td ng-hide="edit"><a href="mailto:{{profile.email}}" style="color:#0000FF;">{{profile.email}}</a></td>
                        <td ng-show="edit"><input ng-model="profile.email" /></td>
                      </tr>
                      <tr ng-show="profile.website || edit">
                        <td>Website:</td>
                        <td ng-hide="edit"><a href="{{profile.website}}" style="color:#0000FF;">{{profile.website}}</a></td>
                        <td ng-show="edit"><input ng-model="profile.website" /></td>
                      </tr>
                      <tr ng-show="profile.facebook || edit">
                        <td>Facebook:</td>
                        <td ng-hide="edit"><a href="{{profile.facebook}}" style="color:#0000FF;">{{profile.facebook}}</a></td>
                        <td ng-show="edit"><input ng-model="profile.facebook" /></td>
                      </tr>
                      <tr>
                        <td>Date of registration:</td>
                        <td ng-bind="formatDate(profile.dateOfRegistration) |  date:'dd/MM/yyyy'">{{}}</td>
                      </tr>
                         <tr>
                             <tr>
                        <td ng-show="self">Username:</td>
                        <td ng-show="self">{{account.username}}</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <span class="pull-right">
                            <a ng-show="self && !edit" ng-click="editAccount()" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a ng-show="self && !edit" ng-click="newDeal()" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i></a>
                            <a ng-show="edit" ng-click="saveAccount()" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-check"></i></a>
                        </span></br></br>
                    </div>
            
          </div>
        </div>

<div ng-show="show" class="addDeal">
	<div class="panel-group">
	  	<div class="panel panel-default">
	    	<div ng-init="getService(deal)" class="panel-heading">
	    		<h4 class="panel-title">
	    			{{deal.service.name}}
	      		</h4>
	      		<span class="pull-right">
					<a type="button" ng-click="cancel()" class="btn btn-danger pull-right cancel"><i class="glyphicon glyphicon-remove"></i> Cancel </a>
					<a class="btn btn-sm btn-primary pull-right" ng-click="addDeal();"><i class="glyphicon glyphicon-check"></i> Save</a>
				</span></br></br>
	    	</div>
	    		 <div class="panel-body container">
	    		 	<div class="jumbotron popupBack">
		    		 	<div class="pull-left col-md-4">
		      				<div ng-controller="CategoryController" class="">
			      				<label>Category:</label>
			      				<select ng-model="category" ng-options="category as category.name for category in categories"></select>
			      				<label>Service:</label>
		    	  				<select ng-model="deal.service"	ng-options="service as service.name for service in category.services"></select>
		      				</div>
		      				<div class="">
		          				<label>Title:</label>
		          				<input type="text" ng-model="deal.description" placeholder="Description"/>
		      				</div>
		     				 <div class="">
		          				<label>Price:</label>
		         				<input type="text" ng-model="deal.serviceCost" placeholder="Price"/>
		      				</div>
		      				<div class="">
		          				<label>Description:</label>
		         				<textarea ng-model="deal.longDescription" class="form-control" rows="5" id="comment"></textarea>
		      				</div>
		  				</div>
		  				<div class=" col-md-4">
		  						<label>Location {{deal.locations.length<=1?deal.locations.length+1:'2'}}:</label>
		  						<input type="text" ng-model="loc.country" placeholder="Country"/></br>
					          	<input type="text" ng-model="loc.city" placeholder="City"/></br>
					          	<input type="text" ng-model="loc.street" placeholder="Street"/></br>
					          	<input type="text" ng-model="loc.number" placeholder="Number"/></br>
					          	<button ng-click="addLocation(loc);" class="btn btn-success">
					          	<i class="glyphicon glyphicon-plus"></i> Add location</button></br>
					          	<div>
					          		<label>Locations:</label>
		      						<div class="well" ng-repeat="location in deal.locations">
		            				{{location.country}} {{location.city}} {{location.street}} {{location.number}}
		          					<button ng-click="removeLocation(location)" class="btn btn-danger pull-right">
		          					<i class="glyphicon glyphicon-remove"></i></button></br>
					          		</div>
		          				</div>
		  				</div>
		  				
		  				<div class="pull-right col-md-4">
		  					<label>Pick a location from the map:</label>
		          				<div id="map_canvas">
	      								<div id="pickmap"></div>
	 							</div>
		  				</div>
	    		 	</div>
				</div>
		</div>
	</div>
</div>

<div class="col-md-5" ng-class="show? 'scroll col-md-5' : 'col-md-5'">
	<div class="panel-group" ng-controller="RatingController" ng-repeat="deal in profile.deals | orderBy:'-'">
	  	<div class="panel panel-default deal">
	    	<div ng-init="getService(deal)" class="panel-heading">
	    		<h4 class="panel-title">
	    			{{deal.service.name}}
	    			<button ng-click="alert=true;" ng-show="edit" class="btn btn-danger pull-right">
		          					<i class="glyphicon glyphicon-remove"></i></button></br>
	      		</h4>
	    	</div>
	    		 <div class="panel-body">
	    		 	<div class="">
	    		 		<div class="desc">
	    		 			<h4>{{deal.description}}</h4>
	    		 		</div>
	    		 		<div class="desc">
	    		 			{{deal.longDescription}}
	    		 		</div>
	    		 		<div class="desc">
	    		 			<span class="adr" ng-repeat="loc in deal.locations">{{loc.country}}, 
	    		 			{{loc.city}}, {{loc.street}}, {{loc.number}}</br></span>
	    		 		</div>
	    		 	</div>
		    		 <table class="table">
		    		 	<tr>
							<th>Price:</th><td>{{deal.serviceCost}} RSD</td>
						</tr>
						<tr>
							<th>Average rating:</th><td>
								<div>
	  								<uib-rating ng-model="deal.averageRating"></uib-rating>
								</div>
						</td>
						</tr>
					</table>
	    		 <uib-accordion close-others="oneAtATime">	
	    		 	<div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="">
	      				<uib-accordion-heading>
					        Ratings <i class="pull-right glyphicon" 
					        ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 
					        'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
				      	</uib-accordion-heading>
				     
					   <div class="well" id="comment" ng-repeat="rat in deal.ratings">
					   <span ng-bind="formatDate(rat.timeOfRating) |  date:'dd/MM/yyyy'">{{}}</span></br>
					   		<strong> {{rat.customerName}} :</strong>  
					   		<uib-rating ng-model="rat.rating"></uib-rating></br>
					   		<i> {{rat.comment}}</i> 
					   </div>
						<div ng-hide="self" class="form-group">
	    		 			<label for="usr">Customer:</label>
	 						<input ng-model="customerName" type="text" placeholder="Anonymous" class="form-control" id="usr">
	 						<div>
	    						<span>Rating: </span>
		  						<uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"
		  						 on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
		        				<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 
	        					'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
							</div>
	    		 			<label for="comment">Comment:</label>
	 						<textarea ng-model="comment" class="form-control" rows="5" id="comment"></textarea>
	 						<button class="btn btn-default" ng-click="submitComment(deal, customerName, rate, comment); 
	 						comment='';rate=0;customerName='';update();" type="submit">Submit</button>
	 							
	    		 		</div>
	   				</div>
	    		 </uib-accordion>
				</div>
				<div ng-show="alert" class="alert alert-danger alert-dismissible fade in" role="alert"> 
 					<button ng-click="alert=false" type="button" class="close" data-dismiss="alert" 
 						aria-label="Close"><span aria-hidden=true>&times;</span>
 					</button> <h4>Are you sure you want to remove this gig?</h4>
  					 <p> <button ng-click="removeDeal(deal)" type=button class="btn btn-danger">Remove</button>
    				<button ng-click="alert=false" type=button class="btn btn-default">Cancel</button> </p> 
</div> 
		</div>
	</div>
</div>
</div>