<!DOCTYPE html>
<html ng-app="livelance" ng-controller="IndexController">
<head>
<meta charset="UTF-8">
<title>LiveLance</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<script src="static/app/bower_components/angular/angular.min.js"></script>
  		<script src="static/app/bower_components/angular-route/angular-route.js"></script>
		<script src="static/app/bower_components/angular-hateoas/src/angular-hateoas.js"></script>
		<script src="static/app/bower_components/angular-resource/angular-resource.js"></script>
		<script src="static/app/bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="static/app//bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>
		
		<link rel="stylesheet" href="static/app/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="static/app/css/bootstrap-combined-min.css"/>
		<link rel="stylesheet" href="static/app/css/main.css"/>
		
		<script src="static/app/js/main.js"></script>
		<script src="static/app/js/main.controllers.js"></script>
		<script src="static/app/js/main.services.js"></script>
		<script src="static/app/js/main.routes.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeVNMu3reFMXTHjgAWQH3OitEKHvu1ZdE"></script>

</head>
<body class="home">
<div class="container">
	<div class="row navbar-outer">
		<nav ng-controller="NavbarController" class="navbar navbar-default navbar-fixed-top">
		        <div class="container-fluid">
		          <div id="navbar">
		            <ul class="nav navbar-nav">
			          <li class="navbar-header">
			              <a class="navbar-brand" href="./#/"><h3 id="logo">LiveLance</h3></a>
			          </li>
		              <li ng-class="{ active: isActive('/')}"><a href="./#/"><h4>Home</h4></a></li>
		              <li ng-class="{ active: isActive('/about')}"><a href="./#/about"><h4>About</h4></a></li>
		              <li ng-class="{ active: isActive('/accounts')}"><a ng-show="isAdmin()" href="./#/accounts" id="accounts" ><h4>Accounts</h4></a></li>
		              <li ng-class="{ active: isActive('/management')}"><a ng-show="isSysAdmin()" href="./#/management" id="management" ><h4>Management</h4></a></li>
		              <li ng-class="{ active: isActive('/deals')}" ng-mouseover="drop=true; open='open'" ng-mouseleave="drop=false; open=''" class="dropdown {{open}}">
		                <a id="gigs" ng-click="updateDeals({})"
			          	  role="button" aria-haspopup="true" aria-expanded="drop"><h4>Gigs</h4> </a>
		                <ul ng-controller="CategoryController" class="dropdown-menu">
						    <li ng-repeat="category in categories" 
						    	class="dropdown-submenu"> <a tabindex="-1" role="button"
						    	 ng-click="updateDeals({'search':category.name})">{{category.name}}</a>
						        <ul class="dropdown-menu" >
						            <li ng-repeat="service in category.services" >
						            	<a role="button" ng-click="updateDeals({'search':service.name})">{{service.name}}</a>
						            </li>
						        </ul>
						    </li>
						</ul>
		              </li>
		              <li>
			              <form ng-submit="updateDeals({'search':desc})" class="query">
			              	  <input ng-model="desc" type="text" class="input-large search-query search">
			              	  <button type="submit" class="button btn">Search</button>
			              </form>
		              </li>
		            </ul>
		            <ul class="nav navbar-nav navbar-right">
		              <li ng-class="{ active: isActive('/login')}"><a ng-hide="isLoggedIn()" href="./#/login"><h4>Login</h4></a></li>
		              <li ng-class="{ active: isActive('/register')}"><a ng-hide="isLoggedIn()" href="./#/register"><h4>Register</h4></a></li>
		              <li ng-class="{ active: isActive('/accounts/view/{{ isLoggedIn()}}')}"><a class="navbar-brand" 
		              	ng-show="isLoggedIn()" href="./#/accounts/view/{{ isLoggedIn()}}" id="user"><h4>{{isLoggedIn()}}</h4></a></li>
		              <li><a ng-show="isLoggedIn()" role="button" ng-click="logout()"><h4>Logout</h4></a></li>
		            </ul>
		          </div>
		  	</div>
		  </nav>
	  </div>
      </br></br>
</div>	
<div class="container view">
    <div ng-view></div>
</div>
	  <footer class="panel-footer navbar-fixed-bottom me">
        <p>&copy; 2016 AleksandarS, Inc. Email: <a href="mailto:aleksandar.sukovic@gmail.com">aleksandar.sukovic@gmail.com</a></p>
      </footer>	
</body>
</html>